.editIconButton {
    background-color: green;
    border-radius: 50%;
    padding: 5px;
    border-style: none;
}

.delitIconButton {
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    border-style: none;
}

.success {
    width: 90px;
    height: 30px;
    background-color: rgb(177, 241, 180);
    border-radius: 20px;
    padding: 10px;
    color: rgb(7, 197, 16);
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;

}

.defeat {
    width: 90px;
    height: 30px;
    background-color: rgb(243, 184, 184);
    border-radius: 20px;
    padding: 10px;
    color: rgb(231, 16, 16);
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;

}